#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
}

.boards {
  background-color: rgb(250, 243, 244);
  padding: 5px;
  border: 3px solid black;
  border-radius: 10%;
  width: 320px;
  height: 240px;
}

#border {
  border: 3px solid rgb(0, 255, 89);
}

nav {
  position: absolute;
  top: 10px;
  left: 50%;
  padding: 10px 30px;
  z-index: 1000;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
